<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
      <style>
      html, body {
        height: 100%;
        margin: 0;
      }

      #game {
        background: black;
      }

      #div {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      canvas {
        border: 1px solid white;
      }
      </style>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

        <link rel="stylesheet" href="//wycofane.de/static/css/Wycofane.css">

        <link rel="apple-touch-icon" sizes="57x57" href="//wycofane.de/static/img/pics/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="//wycofane.de/static/img/pics/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="//wycofane.de/static/img/pics/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="//wycofane.de/static/img/pics/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="//wycofane.de/static/img/pics/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="//wycofane.de/static/img/pics/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="//wycofane.de/static/img/pics/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="//wycofane.de/static/img/pics/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="//wycofane.de/static/img/pics/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="//wycofane.de/static/img/pics/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="//wycofane.de/static/img/pics/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="//wycofane.de/static/img/pics/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="//wycofane.de/static/img/pics/favicon-16x16.png">
        <link rel="manifest" href="//wycofane.de/static/img/pics/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="//wycofane.de/static/img/pics/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">


        <script src="https://kit.fontawesome.com/8223c4836d.js" crossorigin="anonymous"></script>

        <title>Wycofane</title>
    </head>
    <body>
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark" style="background-color: #1A0C2B;">
            <div class="container-fluid">
            <a class="navbar-brand" href="/">
            <img src="//wycofane.de/static/img/wycofane.png" width="50" height="50" class="d-inline-block align-top" alt="wycofane logo" onerror="this.src='img/wycofane.png'">
                Wycofane
            </a>

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
            </div>
              <form class="d-flex">
                  <a href="/logout" class="btn btn-outline-primary" role="button">Logout</a>
              </form>
          </div>
        </nav>

            <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #291344;">
          <div class="container-fluid">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown2" aria-controls="navbarNavDropdown" aria-expanded="false" aria label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavDropdown2">
              <ul class="navbar-nav">
                  &nbsp;
                  &nbsp;
                  &nbsp;
                  &nbsp;
                  &nbsp;
                  &nbsp;

                <li class="nav-item">
                      <a class="nav-link" href="/controlpanel"><i class="bi bi-controller"></i> SDN Controlpanel</a>
                </li>
                  &nbsp;
                  &nbsp;
                  &nbsp;
                  &nbsp;
                  &nbsp;
                  &nbsp;
                  &nbsp;
                  &nbsp;
                  &nbsp;
                  &nbsp;
                  &nbsp;
                  &nbsp;
                <li class="nav-item">
                      <a class="nav-link" href="/bonus"><i class="bi bi-hdd-stack"></i> Bonus</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
    <p class="position-relative">Credits:<a href="https://github.com/straker/">github.com/straker</a></p>
    <div id="div">
    <canvas width="400" height="400" id="game"></canvas>
    <script>
    var canvas = document.getElementById('game');
    var context = canvas.getContext('2d');

    var grid = 16;
    var count = 0;

    var snake = {
      x: 160,
      y: 160,

      // snake velocity. moves one grid length every frame in either the x or y direction
      dx: grid,
      dy: 0,

      // keep track of all grids the snake body occupies
      cells: [],

      // length of the snake. grows when eating an apple
      maxCells: 4
    };
    var apple = {
      x: 320,
      y: 320
    };

    // get random whole numbers in a specific range
    // @see https://stackoverflow.com/a/1527820/2124254
    function getRandomInt(min, max) {
      return Math.floor(Math.random() * (max - min)) + min;
    }

    // game loop
    function loop() {
      requestAnimationFrame(loop);

      // slow game loop to 15 fps instead of 60 (60/15 = 4)
      if (++count < 4) {
        return;
      }

      count = 0;
      context.clearRect(0,0,canvas.width,canvas.height);

      // move snake by it's velocity
      snake.x += snake.dx;
      snake.y += snake.dy;

      // wrap snake position horizontally on edge of screen
      if (snake.x < 0) {
        snake.x = canvas.width - grid;
      }
      else if (snake.x >= canvas.width) {
        snake.x = 0;
      }

      // wrap snake position vertically on edge of screen
      if (snake.y < 0) {
        snake.y = canvas.height - grid;
      }
      else if (snake.y >= canvas.height) {
        snake.y = 0;
      }

      // keep track of where snake has been. front of the array is always the head
      snake.cells.unshift({x: snake.x, y: snake.y});

      // remove cells as we move away from them
      if (snake.cells.length > snake.maxCells) {
        snake.cells.pop();
      }

      // draw apple
      context.fillStyle = 'red';
      context.fillRect(apple.x, apple.y, grid-1, grid-1);

      // draw snake one cell at a time
      context.fillStyle = 'green';
      snake.cells.forEach(function(cell, index) {

        // drawing 1 px smaller than the grid creates a grid effect in the snake body so you can see how long it is
        context.fillRect(cell.x, cell.y, grid-1, grid-1);

        // snake ate apple
        if (cell.x === apple.x && cell.y === apple.y) {
          snake.maxCells++;

          // canvas is 400x400 which is 25x25 grids
          apple.x = getRandomInt(0, 25) * grid;
          apple.y = getRandomInt(0, 25) * grid;
        }

        // check collision with all cells after this one (modified bubble sort)
        for (var i = index + 1; i < snake.cells.length; i++) {

          // snake occupies same space as a body part. reset game
          if (cell.x === snake.cells[i].x && cell.y === snake.cells[i].y) {
            snake.x = 160;
            snake.y = 160;
            snake.cells = [];
            snake.maxCells = 4;
            snake.dx = grid;
            snake.dy = 0;

            apple.x = getRandomInt(0, 25) * grid;
            apple.y = getRandomInt(0, 25) * grid;
          }
        }
      });
    }

    // listen to keyboard events to move the snake
    document.addEventListener('keydown', function(e) {
      // prevent snake from backtracking on itself by checking that it's
      // not already moving on the same axis (pressing left while moving
      // left won't do anything, and pressing right while moving left
      // shouldn't let you collide with your own body)

      // left arrow key
      if (e.which === 37 && snake.dx === 0) {
        snake.dx = -grid;
        snake.dy = 0;
      }
      // up arrow key
      else if (e.which === 38 && snake.dy === 0) {
        snake.dy = -grid;
        snake.dx = 0;
      }
      // right arrow key
      else if (e.which === 39 && snake.dx === 0) {
        snake.dx = grid;
        snake.dy = 0;
      }
      // down arrow key
      else if (e.which === 40 && snake.dy === 0) {
        snake.dy = grid;
        snake.dx = 0;
      }
    });

    // start the game
    requestAnimationFrame(loop);
    </script>
    </div>
    </body>
</html>