<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

	  <link rel="stylesheet" href="css/Wycofane.css">
	  <link rel="stylesheet" href="//wycofane.de/static/css/Wycofane.css">

	<link rel="apple-touch-icon" sizes="57x57" href="//wycofane.de/static/img/pics/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="//wycofane.de/static/img/pics/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="//wycofane.de/static/img/pics/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="//wycofane.de/static/img/pics/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="//wycofane.de/static/img/pics/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="//wycofane.de/static/img/pics/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="//wycofane.de/static/img/pics/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="//wycofane.de/static/img/pics/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="//wycofane.de/static/img/pics/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="//wycofane.de/static/img/pics/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="//wycofane.de/static/img/pics/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="//wycofane.de/static/img/pics/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="//wycofane.de/static/img/pics/favicon-16x16.png">
	<link rel="manifest" href="//wycofane.de/static/img/pics/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="//wycofane.de/static/img/pics/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

    <title>Wycofane</title>
	  <script src="https://kit.fontawesome.com/8223c4836d.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark" style="background-color: #1A0C2B;">
	  <div class="container-fluid">
		<a class="navbar-brand" href="/">
			<img src="//wycofane.de/static/img/wycofane.png" width="50" height="50" class="d-inline-block align-top" alt="" onerror="this.src='img/wycofane.png'">
			Wycofane
		</a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
		  <ul class="navbar-nav">
			<li class="nav-item">
				  <a class="nav-link" href="/was-ist-das">Was ist das?</a>
			</li>
		  </ul>
		</div>
		  <form class="d-flex">
			  <a href="/login" class="btn btn-outline-primary" role="button">Login</a>
					&nbsp;
			  <a href="/signup" class="btn btn-outline-secondary" role="button">Registrieren</a>

		  </form>
	  </div>
	</nav>

	<div class="container-fluid h" >
		<div class="container-md">
			&nbsp;
			&nbsp;
			<h2 class="position-relative">Willkommen auf dem Wycofane.de SDN Controller</h2>
			&nbsp;
			<div class="row">
			  <div class="col-sm">
				<div class="card">
				  <div class="card-body border border-5">
					<h5 class="card-title">Itech SDN AE Projekt</h5>

					<p class="card-text">Bitte loggen Sie sich ein, um weitere Inhalte zu sehen</p>
				  </div>
				</div>
			  </div>
				  &nbsp;
			  </div>
				&nbsp;
				&nbsp;
				&nbsp;
				&nbsp;
				&nbsp;

			</div>
		</div>
	</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  </body>
</html>